REACT_APP_VERSION_TYPE=development
REACT_APP_SERVER_BASE=http://localhost:8000

REACT_APP_THEME_VAR_NAME=mfnCurrentTheme
REACT_APP_LANGUAGE_VAR_NAME=mfnCurrentLanguage

REACT_APP_GOOGLE_AUTH=${REACT_APP_SERVER_BASE}/auth/google
REACT_APP_GOOGLE_CONNECT=${REACT_APP_SERVER_BASE}/connect/google
REACT_APP_GOOGLE_UNLINK=${REACT_APP_SERVER_BASE}/unlink/google

REACT_APP_TWITTER_AUTH=${REACT_APP_SERVER_BASE}/auth/twitter
REACT_APP_TWITTER_CONNECT=${REACT_APP_SERVER_BASE}/connect/twitter
REACT_APP_TWITTER_UNLINK=${REACT_APP_SERVER_BASE}/unlink/twitter

REACT_APP_FACEBOOK_AUTH=${REACT_APP_SERVER_BASE}/auth/facebook
REACT_APP_FACEBOOK_CONNECT=${REACT_APP_SERVER_BASE}/connect/facebook
REACT_APP_FACEBOOK_UNLINK=${REACT_APP_SERVER_BASE}/unlink/facebook