REACT_APP_VERSION_TYPE=development
REACT_APP_SERVER_BASE=http://localhost:8000

REACT_APP_THEME_VAR_NAME=mfnCurrentTheme
REACT_APP_LANGUAGE_VAR_NAME=mfnCurrentLanguage

REACT_APP_GOOGLE_AUTH=${REACT_APP_SERVER_BASE}/....
REACT_APP_TWITTER_AUTH=${REACT_APP_SERVER_BASE}/....
REACT_APP_FACEBOOK_AUTH=${REACT_APP_SERVER_BASE}/....