@media (max-width: 500px) {
    .MuiDrawer-paper {
      width: 100% !important;
    }
    .MuiDrawer-paper.MuiDrawer-paperAnchorBottom {
      width: 100% !important;
    }
  }
  
  @media (max-width: 700px) and (min-width: 500px){
    .MuiDrawer-paper {
      width: 70% !important;
    }
    .MuiDrawer-paper.MuiDrawer-paperAnchorBottom {
      width: 100% !important;
    }
  }
  
  @media (max-width: 900px) and (min-width: 700px){
    .MuiDrawer-paper {
      width: 50% !important;
    }
    .MuiDrawer-paper.MuiDrawer-paperAnchorBottom {
      width: 100% !important;
    }
  }
  
  @media (max-width: 1200px) and (min-width: 900px){
    .MuiDrawer-paper {
      width: 40% !important;
    }
    .MuiDrawer-paper.MuiDrawer-paperAnchorBottom {
      width: 100% !important;
    }
  }
  
  @media (max-width: 1400px) and (min-width: 1200px) {
    .MuiDrawer-paper {
      width: 30% !important;
    }
    .MuiDrawer-paper.MuiDrawer-paperAnchorBottom {
      width: 1200px !important;
      margin: auto !important;
    }
  }
  
  
  @media (min-width: 1400px) {
    .MuiDrawer-paper {
      width: 360px !important;
    }
    .MuiDrawer-paper.MuiDrawer-paperAnchorBottom {
      width: 1200px !important;
      margin: auto !important;
    }
  }
  
  .MuiMenu-paper {
    border-radius: 20px !important;
  }