@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  background: linear-gradient(300deg, #1ba39c, #000000, #363636, #1ba39c);
  background-size: 240% 240%;
  animation: gradient-animation 60s ease infinite;
  transition: all .1s;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  color: rgb(var(--foreground-rgb));
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .thin-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #1b8e9d black;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .animated-box::before {
    @apply content-[''] shadow-cyan-400 shadow-2xl absolute top-[-240px] left-[150px] w-[100px] h-[800px] bg-gradient-to-r from-[#66c1bd] to-[#3ab0aa] animate-fullSpin
  }
  .animated-box::after {
    @apply content-[''] absolute inset-0.5 rounded-2xl
  }

  .animated-box-tools::before {
    @apply content-[''] shadow-cyan-400 shadow-2xl absolute top-[-700px] left-[47%] w-[100px] h-[1700px] bg-gradient-to-r from-[#66c1bd] to-[#3ab0aa] animate-fullSpin
  }
  .animated-box-tools::after {
    @apply content-[''] absolute inset-0.5 rounded-2xl
  }


  .pulsar-shadow {
    animation: pulsar-shadow-animation 6s infinite;
  }
  
  @keyframes pulsar-shadow-animation {
    0% {
      box-shadow: none;
    }
    50% {
      box-shadow: 0 0 20px #1ba39c; /* Tailwind’s shadow-2xl equivalent */
    }
    100% {
      box-shadow: none;
    }
  }
}

.main-layout-card {
  height: calc(100vh - 125px);
  max-height: calc(100vh - 125px);
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.btm-nav > *:where(.active) {
  background-color: transparent;
}


select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}



