body {
  background-size: cover;
  background:
      conic-gradient(from -45deg at calc(100%/3) calc(100%/3), #1c94a4 90deg, #0000 0),
      conic-gradient(from -135deg at calc(100%/3) calc(2*100%/3), #1c94a4 90deg, #60f6ec 0 135deg, #0000 0),
      conic-gradient(from 135deg at calc(2*100%/3) calc(2*100%/3), #1c94a4 90deg, #60f6ec 0 135deg, #0000 0),
      conic-gradient(from 45deg at calc(2*100%/3) calc(100%/3), #1c94a4 90deg, #60f6ec 0 135deg, #0000 0,#1c94a4 0 225deg,#60f6ec 0);
  background-size: 96px 96px;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 500px) {
  .MuiDrawer-paper {
    width: 100% !important;
  }
  .MuiDrawer-paper.MuiDrawer-paperAnchorBottom {
    width: 100% !important;
  }
}

@media (max-width: 700px) and (min-width: 500px){
  .MuiDrawer-paper {
    width: 70% !important;
  }
  .MuiDrawer-paper.MuiDrawer-paperAnchorBottom {
    width: 100% !important;
  }
}

@media (max-width: 900px) and (min-width: 700px){
  .MuiDrawer-paper {
    width: 50% !important;
  }
  .MuiDrawer-paper.MuiDrawer-paperAnchorBottom {
    width: 100% !important;
  }
}

@media (max-width: 1200px) and (min-width: 900px){
  .MuiDrawer-paper {
    width: 40% !important;
  }
  .MuiDrawer-paper.MuiDrawer-paperAnchorBottom {
    width: 100% !important;
  }
}

@media (max-width: 1400px) and (min-width: 1200px) {
  .MuiDrawer-paper {
    width: 30% !important;
  }
  .MuiDrawer-paper.MuiDrawer-paperAnchorBottom { 
    width: 100% !important;
  }
}


@media (min-width: 1400px) {
  .MuiDrawer-paper {
    width: 20% !important;
  }
  .MuiDrawer-paper.MuiDrawer-paperAnchorBottom { 
    width: 100% !important;
  }
}

.MuiMenu-paper {
  border-radius: 20px !important;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
