/* width */
::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 15px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #1BA39C;
    border-radius: 15px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1BA39C;
}



/* DARKMODE */

/* Track */
.darkmode--activated ::-webkit-scrollbar-track {
    background: rgb(31, 31, 31);
}